APP_NAME="Projet FastAPI"
DEBUG=True
DATABASE_URL="oracle+oracledb://test:mot_de_passe@localhost:1521/?service_name=FREEPDB1"
API_KEY="secret-token-12345"
PORT=8000
JWT_SECRET_KEY="Mettre_un_token_aléatoire"
JWT_ALGORITHM="HS256"
JWT_EXPIRE_MINUTES=30